* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: brown;
    position: relative;
    padding: 20px;
    align-items: center;
}

header .nav {
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding: 8px 20px;

}

.head_icon {
    width: 30%;
    display: flex;
    justify-content: end;
    gap: 25px;
    font-size: 30px;
}

.head_icon i {
    position: relative;
    z-index: 1;
}

.head_icon i p {
    position: absolute;
    left: 65%;
    top: -30%;
    font-size: 20px;
    background-color: rgb(205, 134, 134);
    border-radius: 50%;
    padding: 2px 5px;
    z-index: -1;

}

.drop {
    position: absolute;
    top: 100%;
    background-color: pink;
    flex-direction: column;
    transition: all .5s linear;
    overflow: hidden;
    height: 0;
}

.list_1:hover .drop_1 {
    height: 180px;
}

.list_2:hover .drop_2 {
    height: 120px;
}

.list_3:hover .drop_3 {
    height: 80px;
}

.drop_4 {
    display: flex;
    justify-content: space-around;
    left: 10%;
    width: 80%;
    background-color: rgb(23, 9, 9);
    color: white;
    flex-direction: row;
}

.drop_4 ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.drop_4 ul li {
    transition: all .5s linear;
}

.drop_4 ul h4 {
    padding: 20px;
}

.drop_4 ul p {
    padding: 20px;
}

.drop_4 ul h5 {
    padding: 10px;
    margin-left: 10px;
}

.list_4:hover .drop_4 {
    height: 380px;
}

.drop_4 li:hover {
    transform: translateX(20px);
    color: wheat;
    border-left: 2px solid wheat;
}

.main {
    background: linear-gradient(rgb(164, 137, 137), rgb(155, 231, 237));
    width: 100%;
    height: 700px;
    position: relative;
    z-index: -1;
    display: flex;
}

.main .font {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 15%;
}

.main .font h2 {}

.main .font h1 {
    font-size: 90px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main .font h2 {
    font-family: 'Pacifico', cursive;
    color: rgb(70, 112, 70);
    padding-bottom: 20px;
}

.main .font p {
    font-size: 20px;
    line-height: 30px;
    color: rgb(96, 91, 91);
    padding-bottom: 50px;

}

.main .font .go_shop {
    padding: 18px 60px;
    border-radius: 30px;
    color: white;
    background-color: #ff6251;
    border: none;
}

.main .img {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 500px;
    height: 300px;
}

.main .img img {
    width: 100%;
    height: 100%;
}

.item_detail {
    margin-top: 100px;
    width: 80%;
    margin-left: 13%;
}

.one_item {
    display: flex;
    gap: 50px;
}

.icon {
    position: relative;
    width: 20%;
    height: 300px;
    border: 2px solid rgba(199, 185, 185, 0.326);
    border-radius: 10px;
    overflow: hidden;
}

.icon-img {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 10%;
}

.icon-img img {
    width: 200px;
    height: 200px;
}

.icon-text {
    position: absolute;
    /* top: 70%;
    left: 20%; */
}

.icon_mini-1 {
    top: 70%;
    left: 20%;
}

.icon_mini-2 {
    top: 70%;
    left: 32%;
}

.icon_mini-3 {
    top: 70%;
    left: 27%;
}

.icon_mini-4 {
    top: 70%;
    left: 25%;
}

.icon_mini-5 {
    top: 70%;
    left: 28%;
}

.icon_mini-6 {
    top: 70%;
    left: 35%;
}

.icon_mini-7 {
    top: 70%;
    left: 37%;
}

.icon_mini-8 {
    top: 70%;
    left: 30%;
}

.icon-cart {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translateY(200px);
    transition: all .5s linear;
    color: rgba(0, 0, 0, 0.308);

}

.icon-cart i {
    color: rgba(0, 0, 0, 0.308);
}

.icon-icon {
    transform: translateY(-200px);
    transition: all .5s linear;
    position: absolute;
    top: 5%;
    left: 38%;
}

.icon-icon i {
    font-size: 15px;
    background-color: rgb(110, 203, 110);
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
}

.icon-text p {
    padding-top: 20px;
    text-align: center;
    color: #83b735;
}

.icon:hover .icon-icon {
    transform: translateY(0);

}

.icon:hover .icon-cart {
    transform: translateY(0);

}

.icon:hover .icon-text p {
    transform: translateY(-300px);
}

.icon-img:hover img {
    transform: scale(1.1);
}

.two_item {
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

.detail_vegetable {
    padding-top: 150px;
}

.detail_vegetable .vegetable_item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    width: 80%;
    margin-left: 10%;
    gap: 50px;
}

.vegetable_item .vegetable_1 {
    /* border: 1px solid black; */
    width: 50%;
    height: 250px;
    display: flex;
    background-color: #62ab00;
    position: relative;
}

.vegetable_1 img {
    position: absolute;
    top: 23%;
    left: 5%;
    background-color: #ff6251;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.vegetable_1 .text {
    position: absolute;
    color: white;
    top: 25%;
    left: 45%;
}

.vegetable_1 .text h4 {
    font-size: 30px;
}

.vegetable_1 .text h5 {
    font-size: 40px;
}

.vegetable_1 .text p {
    padding-top: 20px;
    font-size: 14px;
    line-height: 25px;
}

.vegetable_item .vegetable_2 {
    /* border: 1px solid black; */
    width: 50%;
    height: 250px;
    display: flex;
    background-color: #ff6251;
    position: relative;
}

.vegetable_2 img {
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: #62ab00;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}

.vegetable_2 .text {
    position: absolute;
    color: white;
    top: 25%;
    left: 45%;
}

.vegetable_2 .text h4 {
    font-size: 30px;
}

.vegetable_2 .text h5 {
    font-size: 40px;
}

.vegetable_2 .text p {
    padding-top: 20px;
    font-size: 14px;
    line-height: 25px;
}

.vegetable_item_2 {
    display: flex;
    margin-left: 10%;
    margin-top: 30px;
    /* border: 2px solid black; */
    background-color: #fcb900bd;
    width: 80%;
    height: 300px;
}

.vegetable_item_2 .img {
    width: 50%;
    height: 100vh;
    padding: 25px 10px;

}

.vegetable_item_2 .img img {
    width: 100%;
    height: 250px;
}

.vegetable_item_2 .text {
    width: 70%;
    /* border: 2px solid black; */
    color: white;
    position: relative;
}

.vegetable_item_2 .text h2 {
    font-family: "Pacifico", Sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 20%;
}

.vegetable_item_2 .text h1 {
    word-spacing: 10px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    top: 25%;
    left: 20%;
}

.vegetable_item_2 .text p {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 18px;
    line-height: 25px;
}

.orage_juice {
    margin-top: 100px;
    /* border: 2px solid black; */
    background: linear-gradient(rgba(149, 213, 239, 0.354), rgba(212, 158, 167, 0.66));
    position: relative;
    width: 100%;
    height: 100vh;

}

.orage_juice .img {
    width: 50%;
    height: 100vh;
    /* border: 2px solid black; */
}

.orage_juice .img img {
    width: 500px;
    position: absolute;
    top: 17%;
    left: 5%;

}

.orage_juice .text {
    position: absolute;
    top: 30%;
    left: 50%;
}

.orage_juice .text h2 {
    color: #7fbb00;
    font-family: "Pacifico", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.orage_juice .text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    word-spacing: 10px;
    padding-top: 20px;
}

.orage_juice .text p {
    padding-top: 20px;
    color: #666;
    font-size: 18px;
    word-spacing: 2px;
}

.orage_juice .text .button {
    margin-top: 50px;

}

.orage_juice .text .button a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    border-radius: 50px;
    margin: 0px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.orage_juice .text .button .a1 {
    border: 2px solid #62ab00;
    color: black;
}

.orage_juice .text .button .a1:hover {
    color: #62ab00;
    border: 2px solid black;
    transition: all .3s linear;
}

.orage_juice .text .button .a2 {
    background-color: #ff6251;
    color: white;
    border: none;
}

.orage_juice .text .button .a2:hover {
    border: 2px solid black;
    transition: all .3s linear;
}

.item_detail-1 {
    margin-top: 100px;
    width: 80%;
    margin-left: 13%;
}

.three_item {
    display: flex;
    gap: 50px;
}

.icon {
    position: relative;
    width: 20%;
    height: 300px;
    border: 2px solid rgba(199, 185, 185, 0.326);
    border-radius: 10px;
    overflow: hidden;
}

.icon-img {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 10%;
}

.icon-img img {
    width: 200px;
    height: 200px;
}

.icon-text {
    position: absolute;
    /* top: 70%;
    left: 20%; */
}

.icon_mini-a1 {
    top: 70%;
    left: 30%;
}

.icon_mini-a2 {
    top: 70%;
    left: 15%;
}

.icon_mini-a3 {
    top: 70%;
    left: 22%;
}

.icon_mini-a4 {
    top: 70%;
    left: 22%;
}

.icon_mini-a5 {
    top: 70%;
    left: 30%;
}

.icon_mini-a6 {
    top: 70%;
    left: 27%;
}

.icon_mini-a7 {
    top: 70%;
    left: 22%;
}

.icon_mini-a8 {
    top: 70%;
    left: 32%;
}

.icon-cart {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translateY(200px);
    transition: all .5s linear;
    color: rgba(0, 0, 0, 0.308);

}

.icon-cart i {
    color: rgba(0, 0, 0, 0.308);
}

.icon-icon {
    transform: translateY(-200px);
    transition: all .5s linear;
    position: absolute;
    top: 5%;
    left: 38%;
}

.icon-icon i {
    font-size: 15px;
    background-color: rgb(110, 203, 110);
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
}

.icon-text p {
    padding-top: 20px;
    text-align: center;
    color: #83b735;
}

.icon:hover .icon-icon {
    transform: translateY(0);

}

.icon:hover .icon-cart {
    transform: translateY(0);

}

.icon:hover .icon-text p {
    transform: translateY(-300px);
}

.icon-img:hover img {
    transform: scale(1.1);
}

.four_item {
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

.humen_diet {
    display: flex;
    margin-top: 100px;
    background: linear-gradient(yellow, pink);
    width: 100%;
    height: 90vh;
    position: relative;
}

.humen_diet .text {
    width: 50%;
    height: 90vh;
    /* border: 2px solid black; */
    position: absolute;
    top: 25%;
    left: 15%;
}

.humen_diet .text h2 {
    font-size: 35px;
    font-family: "Pacifico", Sans-serif;
    color: #ff6251;
}

.humen_diet .text h1 {
    font-size: 55px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.humen_diet .text .font {
    display: flex;
    text-align: center;
    gap: 55px;
    padding-top: 50px;

}

.humen_diet .text .font p {
    color: #7fbb00;
    font-size: 30px;
}


.humen_diet .text .font h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;

}

.humen_diet .text .font .data-1 {
    border: 2px solid #c7695e;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
}

.humen_diet .text .font .line {
    border: 2px solid #67c75e;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}


.humen_diet .text p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #666;
}

.humen_diet .img {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
    height: 90vh;
}

.customer {
    display: flex;
    align-items: center;
    margin-top: 200px;
    background-color: pink;
    width: 100%;
    height: 250px;
    border-top-right-radius: 100%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 100%;
}

.main_icon {
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customer .self-icon-1 {
    display: flex;
    width: 40%;
    margin: 5%;
    padding-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 15px;
    padding-bottom: 70px;
}

.customer .self-icon-1 i {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.742);
}

.hr_1 {
    margin-top: 150px;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.29);
    width: 100%;
}

.logo {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;

}

.logo img {
    filter: contrast(0%) blur(1px);
}

.logo img:hover {
    filter: contrast(400%) brightness(100%);

}

.hr_2 {
    margin-top: 100px;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.29);
    width: 100%;
}

.search {
    margin-top: 100px;
    background: linear-gradient(pink, rgb(251, 255, 0));
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;
}

.search .text {
    position: absolute;
    top: 40%;
    left: 20%;
}

.search .text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #666;
}

.search .text p {
    padding-top: 10px;
    font-size: 18px;
    color: #c7695e;
}

.search .inp {
    position: absolute;
    top: 45%;
    left: 55%;
}



.search .inp input {
    padding: 15px 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.299);
    background-color: transparent;
}

.search .inp button {
    padding: 15.8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.299);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
    border: none;
    background-color: #ff6251;
    color: white;
    letter-spacing: 1px;
}

.search .inp button:hover {
    background-color: #67c75e;
    transition: all.5s linear;
}

.footer {
    margin-top: 150px;
    /* background-color: rgba(186, 207, 228, 0.628); */
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}

.footer .section_1 {
    display: flex;
    width: 50%;
    /* border: 2px solid black; */
    position: absolute;
    top: 22%;
    left: 10%;
}

.footer .section_1 .contact {
    width: 100%;
}



.footer .section_1 .contact h3 {
    font-size: 25px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.footer .section_1 .contact h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.footer .section_1 .contact p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

.footer .section_1 .contact button {
    padding: 18px 35px;
    color: white;
    background-color: #ff6251;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.footer .section_1 .contact button:hover {
    background-color: black;
    transition: all .5s linear;
}


.footer .section_1 .payment {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

.footer .section_1 .payment h3 {
    font-size: 25px;
    font-weight: 100;
    color: #666;
}

.footer .section_1 .payment h2 {
    padding-top: 10px;
    font-weight: 500;
}

.footer .section_1 .payment p {
    padding-top: 35px;
}


.footer .section_2 {
    display: flex;
    /* width: 50%; */
    /* border: 2px solid black; */
    gap: 70px;
    position: absolute;
    /* top: 10%; */
    left: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .section_2 .our_store {}


.footer .section_2 .our_store ul p {
    font-size: 25px;
    padding-bottom: 10px;
}

.footer .section_2 .quick_link ul p {
    font-size: 25px;
    padding-bottom: 10px;
}

.footer .section_2 ul {
    list-style: none;
    /* padding: 0px 50px; */
}

.footer .section_2 ul li {
    padding: 7px 0px;
    color: #666;
    font-weight: 100;
}

.footer .section_2 ul li:hover {
    color: #c7695e;
    padding-left: 10px;
    transition: all .5s linear;
}

.footer-bottom {
    margin-top: 50px;
    width: 100%;
    height: 70px;
    background-color: rgba(118, 115, 115, 0.126);
    position: relative;
}

.footer-bottom .name {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 18px;
}
